.btnActions {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.btnActions > li > ion-icon {
	font-size: 20px;
}

.btnActions > li {
	cursor: pointer;
	margin-right: 5px;
	justify-content: CENTER;
	JUSTIFY-ITEMS: CENTER;
	DISPLAY: FLEX;
	PADDING: 2PX;
}

.btnRemove {
	color: #f94848;
}

.btnEdit {
	color: #f7a000;
}

.btnView {
	color: #08ae08;
}

.headerTable {
	display: flex;
	margin-bottom: 2rem;
	/* padding: 0 20px; */
}

.headerTable > button {
	border: none;
	height: 38px;
	padding: 0 10px;
	margin-right: 2rem;
	background: #cb62cc;
	color: white;
}

.headerTable > button:hover {
	background: #d485d1 !important;
}
