.bodyUpload {
	position: relative;
	height: auto;
	display: flex !important;
	justify-content: center;
}

.content-upload {
	width: 50%;
	background: #fbfbfb;
	padding: 10px;
	margin-top: 30px;
}

.header-upload {
	text-align: center;
	color: #7f7f7f;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d89ed3;
	margin-top: 15px;
}

.header-upload > h5 {
	font-weight: 400;
}

#drag-upload {
	width: 40%;
	text-align: center;
	padding: 15% 0;
	border-style: dashed;
	border-color: #d89ed3;
	border-width: 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: height 0.2s ease;
}

#drag-upload > div > p {
	margin: 0;
}

.drag-upload-isDrag {
	border-color: #c5b5c4 !important;
	background: #f8f8f8;
}

.list-upload {
	width: 60%;
	padding: 0 20px;
	overflow-y: auto;
	height: 254px;
}

.row-upload {
	margin-top: 2rem;
	margin-bottom: 30px;
}

.icon-upload {
	font-size: 2rem;
	color: #d89ed3;
}

#upload-error {
	color: #f17878;
}

.list-upload > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li.item-upload > p {
	margin: 0;
	width: 90%;
}

ion-icon.icon-upload-list-alert {
	font-size: 23px;
	color: #f17878;
}

ion-icon.icon-upload-list-check {
	font-size: 23px;
	color: #22bd19;
}

li.item-upload {
	padding: 10px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d5d5d5;
	margin-bottom: 8px;
}

.action-upload {
	padding: 10px 0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #cb62cc;
	text-align: initial;
	margin-top: 20px;
}

#upload-or {
	font-size: 11px;
}

.txt-upload {
	font-size: 11px;
}

ul.listItens {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

ul.listItens > li {
	border: none;
	text-transform: capitalize;
}

.react-tabs__tab:focus {
	box-shadow: none !important;
	border-color: initial !important;
	outline: none !important;
}

.react-tabs__tab--selected {
	border-color: #c6c6c6 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 7px !important;
	border-radius: initial !important;
}
